:root {
  --green: #00BB6D;
  --text: #3A3A3A;
  --gray: #CDCDCD;
  --border: #EAEAEA;
  --head: #3A3A3A;
  --lilac: #6A53F5;
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}


